---
title: List of all topics
section: background
order: 999
---
<ol>
	<% Toc.instance.each_by(:topics) do |t| %>
	<li>
		<%= link_to t[:title], t.identifier %> <%= link_to_inclusion t %>
	</li>
<% end %>
</ol>

