---
title: List of all topics
section: background
order: 999
---
<% @items.each {|x| x[:blurp] } %>

<ul>
	<% Toc.instance.each_by(:topics) do |t| %>
	<li><%= link_to t.attributes[:title], t.identifier %><%= link_to_inclusion t %></li>
<% end %>
</ul>

