---
title: Welcome!
section: intro
order: 0
---
<div class="hero-unit">
	<h2>COSI 235a</h2>
	<p>This is the course web site for the Fall 2013 Edition of "IT Entrepreneurship".</p>
	<p>
		<%= link_to("Enter the site!", symbol_to_item(:overview, :intro), class: "btn btn-primary btn-large") %>
	</p>
</div>

### This site is incomplete! ###
This course will cover topics such as:

* What makes a startup tick? Learn from case studies and local entrepreneurs about the processes, practices and lessons learned that lead to success.
* Learn the concepts of the “Lean Startup” processes for company creation and product invention to arrive at a validated business model.
* Apply all this to your own software startup: work in teams to formulate and test hypotheses, design and test prototypes, find and talk to real live customers to define and validate value proposition and business model.

Your end goal is a well articulated and tested business concept, ready for an angel investor or a KickStarter campaign. 

Intense and intensely hands-on. 

Open to undergraduates with permission of instructor.
(pitosalas@brandies.edu)


